{% raw %}
<style> 
a	{ text-decoration: none; }
</style> 
{% endraw %}

<table border="0" cellpadding="0" cellspacing="0" bgcolor="white" width="620" style="margin: 0 auto;"> 
	<tbody> 
		<tr> 
			<td> 
				<table border="0" cellpadding="0" cellspacing="0" bgcolor="white" width="620" style="font-family:'Helvetica Neue', Helvetica, sans; color: #333; font-size: 12px; padding-top: 50px;"> 
					<tbody> 
						<tr> 
							<td style="text-align: center; width: 140px;"><img src="http://tick.ee/images/mail.activate.png" width="60" alt="tickee" style="width: 60px;" /></td> 
							<td valign='top'> 
								<h1 style="font-weight: normal; font-size: 18px; padding-right: 50px;">

<p>Dear attendee,</p>

<p>A small reminder: you bought tickets for {{ event.name }} on {{ event.get_start_date().date() }}.</p>

<p><strong>Don't forget to bring your ticket(s)!</strong></p>

<p>Not sure how? Read more on our <a href="http://tickee.zendesk.com/entries/20819983-how-to-bring-your-tickets">support forum</a>.

								<br><br><br> 
							</td> 
						</tr> 
					</tbody> 
				</table> 
			</td> 
		</tr> 
	</tbody> 
</table>